@use "./fonts" as*;
@use "./variables" as *;
@use "./mixins" as*;

@mixin global-styles {
    *,
    *::before,
    *::after {
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: hidden;
    }
  
    a {
      text-decoration: none;
    }
  
    html {
      font-size: .625rem;
    }
  
    body {
      font-size: 2rem;
      // font-family: $font-regular;
      margin: 0;
    }
  
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    div,
    li,
    ul {
      margin: 0;
      list-style: none;
    }
  }
  