@use "./fonts" as*;
@use "./variables" as *;


@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}


@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin center-flex-align {
    display: flex;
    align-items: center;
}


@mixin center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


@mixin center-flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

//styling for card components
@mixin card-style {
    border: 1px solid $border-colour;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}


//button
@mixin button-style {
    display: flex;
    justify-content: space-between;
    background-color: $link;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $button;
}
}