// @use "./styles/partials/mixins" as *;
// @use "./styles/partials/variables" as *;

// a {
//   text-decoration: none;
//   color: inherit;
//   font: inherit;
// }
// body {
//   display: flex;
//   flex-direction: column;
//   min-width: 20rem;
//   justify-content: space-between;
// //   background-color: ;
// }

//bg colour
$white: white; 

//login bg colour
$bluegreen: #d0fcf4;

//font colours
$primary: black;
$link: #333;

//border
$border-colour: #ddd;

//button colour
$button: #20dad0;