@use "../src/styles/partials/variables" as *;
@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/fonts" as *;
@use "../src/styles/partials/global" as *;
// @include global-styles;

.app {
  display: flex;
  justify-content: center;

  .link {
    text-decoration: none;
  }

  .container {
    width: 1024px;

  }
}